/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: bold; }

.container:after, .clearfix:after, .row:after, ul:after {
  content: '';
  display: table;
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: top;
  max-width: 100%; }

a {
  color: #333;
  text-decoration: none; }
  a:focus, a:hover, a:active {
    text-decoration: none;
    outline: 0; }

div {
  box-sizing: border-box; }

::-webkit-input-placeholder {
  color: #e4e4e4; }

:-moz-placeholder {
  color: #e4e4e4; }

::-moz-placeholder {
  color: #e4e4e4; }

:-ms-input-placeholder {
  color: #e4e4e4; }

*::selection {
  background: #16b9ff;
  color: #fff; }

*::-moz-selection {
  background: #16b9ff;
  color: #fff; }

[type="text"], [type="num"], [type="tel"], [type="file"], [type="password"], [type="email"], [type="search"], [type="url"], textarea {
  border: 1px solid #eee;
  padding: 0 5px; }

[type="text"]:focus, [type="num"]:focus, [type="tel"]:focus, [type="file"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus {
  border-color: #ff6678;
  outline: 0; }

/* main font */
body {
  font-family: 'Malgun Gothic','Noto Sans KR', 'dotum', 'gulim' , 'sans-serif';
  word-break: break-all;
  font-weight: 300;
  line-height: 1; }

/* layout */
body, html {
  height: 100%;
  background: #F5F7FA; }

#wrap {
  width: 100%;
  margin: 0 auto; }

.container_box {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

/* typography */
h1, h2 {
  line-height: 1.2; }

h3, h4, h5, h6 {
  line-height: 1.4; }

p {
  color: #757575;
  font-size: 15px;
  line-height: 1.8; }

/* short cut*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.por {
  position: relative; }

.poa {
  position: absolute; }

.pof {
  position: fixed; }

.dtb {
  display: table; }

.dtbc {
  display: table-cell; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.vab {
  vertical-align: bottom; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; }

/* interval */
.pt0 {
  padding-top: 0 !important; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pr0 {
  padding-right: 0 !important; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr20 {
  padding-right: 20px; }

.pr30 {
  padding-right: 30px; }

.pl0 {
  padding-left: 0 !important; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl20 {
  padding-left: 20px; }

.pl30 {
  padding-left: 30px; }

.pb0 {
  padding-bottom: 0 !important; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.mt0 {
  margin-top: 0 !important; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mr0 {
  margin-right: 0 !important; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.ml0 {
  margin-left: 0 !important; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

/* form */
.form-ctrl {
  color: #000;
  border: 1px solid #e1e1e1;
  padding: 8px 8px 8px 10px;
  font-size: 13px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .form-ctrl:focus {
    outline: 0;
    border-color: #666; }
  .form-ctrl:hover {
    background: #fafafa; }

.input-group {
  font-size: 0; }
  .input-group .tit {
    min-width: 130px;
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    vertical-align: top; }
  .input-group .form-ctrl {
    height: 40px;
    display: inline-block; }
  .input-group.input-sm input {
    width: 10%;
    min-width: 100px; }
  .input-group.input-md input {
    width: 50%;
    min-width: 200px; }
  .input-group.input-lg input {
    width: 90%; }
  .input-group textarea.form-ctrl {
    height: unset;
    resize: none;
    width: calc(100% - 135px); }

.input-checkbox input {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0; }
.input-checkbox label i {
  display: block;
  float: left;
  font-size: 22px;
  color: #999; }
.input-checkbox label span {
  display: block;
  margin-left: 28px;
  line-height: 24px;
  font-size: 13px; }
.input-checkbox input + label i.icon-checked {
  display: none; }
.input-checkbox input:checked + label i.icon-line {
  display: none; }
.input-checkbox input:checked + label i.icon-checked {
  display: block;
  color: #333; }

.terms-group {
  margin-top: 50px; }
  .terms-group .tit {
    font-size: 15px;
    color: #333;
    margin-bottom: 7px; }
  .terms-group .terms {
    border: 1px solid #e1e1e1;
    padding: 15px;
    font-size: 12px;
    line-height: 1.8;
    height: 120px;
    overflow-y: scroll;
    margin-bottom: 10px; }

/* Header Componenet */
header {
  width: 100%;
  height: 80px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  header .container_box {
    margin-left: -10px; }
    header .container_box .left {
      float: left; }
      header .container_box .left .logo {
        width: 250px;
        background: #343b4a;
        text-align: center;
        line-height: 80px;
        float: left; }
        header .container_box .left .logo a {
          color: #fff;
          font-size: 20px;
          font-weight: bold; }
          header .container_box .left .logo a i {
            color: #e92337;
            font-size: 18px; }
      header .container_box .left .s_menu {
        float: left;
        width: 30px;
        height: 30px;
        margin-top: 25px;
        margin-left: 30px; }
        header .container_box .left .s_menu #menu_toggle {
          text-align: center; }
          header .container_box .left .s_menu #menu_toggle img {
            width: 100%; }
    header .container_box .right {
      float: right; }
      header .container_box .right .info {
        float: left;
        padding: 0 30px;
        float: left;
        height: 80px; }
        header .container_box .right .info a {
          text-align: center; }
          header .container_box .right .info a i {
            color: #1A232D;
            font-size: 24px;
            text-align: center;
            line-height: 80px; }
      header .container_box .right .photo {
        width: 60px;
        float: left;
        margin-top: 12px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
        header .container_box .right .photo img {
          line-height: 80px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        header .container_box .right .photo:hover {
          background: #fff;
          opacity: 0.8; }
      header .container_box .right .user_loginfo {
        padding-left: 30px;
        padding-right: 10px;
        line-height: 80px;
        vertical-align: middle;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-size: 16px;
        float: left; }
        header .container_box .right .user_loginfo i {
          padding-left: 10px;
          font-size: 15px;
          color: #e4e4e4; }
        header .container_box .right .user_loginfo .dropdown {
          position: relative;
          width: 100px;
          height: 80px;
          text-align: right; }
          header .container_box .right .user_loginfo .dropdown .dropdown_contents {
            display: none;
            position: absolute;
            background-color: #343b4a;
            min-width: 130px;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
            right: 0;
            top: 70px;
            padding: 0;
            opacity: 0;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s; }
            header .container_box .right .user_loginfo .dropdown .dropdown_contents .arrow_top {
              position: absolute;
              width: 12px;
              height: 12px;
              background: #343b4a;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              top: -7px;
              left: 96px; }
            header .container_box .right .user_loginfo .dropdown .dropdown_contents .info {
              margin-top: 10px;
              display: block;
              height: 40px;
              width: 100% !important;
              text-align: center;
              font-weight: 400;
              font-size: 14px;
              line-height: 40px; }
              header .container_box .right .user_loginfo .dropdown .dropdown_contents .info a {
                color: #fff;
                text-decoration: none; }
            header .container_box .right .user_loginfo .dropdown .dropdown_contents .logout {
              display: block;
              width: 100% !important;
              color: #fff;
              text-align: center;
              font-weight: 400;
              font-size: 14px;
              line-height: 40px; }
              header .container_box .right .user_loginfo .dropdown .dropdown_contents .logout a {
                color: #fff;
                text-decoration: none; }
        header .container_box .right .user_loginfo:hover .dropdown_contents {
          opacity: 1;
          display: block; }

/* popup Componenet */
.bg_color {
  background: #37393a; }

input.w100 {
  width: 100%; }

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10000; }
  .loader .lds-ring {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px; }
  .loader .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent; }
  .loader .lds-ring div:nth-child(1) {
    animation-delay: -0.45s; }
  .loader .lds-ring div:nth-child(2) {
    animation-delay: -0.3s; }
  .loader .lds-ring div:nth-child(3) {
    animation-delay: -0.15s; }
@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.table_btn {
  color: #3c3c3c;
  line-height: 20px !important;
  padding: 2px 10px !important;
  font-size: 14px !important;
  font-weight: 400;
  letter-spacing: -1px;
  background: #f2f2f2;
  border: 1px solid #e4e4e4;
  text-align: center; }

.bgon {
  background: #edf6ff !important; }

.popup {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5); }

.popup2 {
  display: none;
  position: fixed;
  z-index: 1003;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5); }

.popup_front {
  display: none;
  position: absolute;
  z-index: 1004;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px;
  height: auto; }
  .popup_front table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4; }
    .popup_front table th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_front table th .red {
        color: #da0000;
        position: relative;
        top: 2px; }
      .popup_front table th button {
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border: 1px solid #e4e4e4;
        text-align: center; }
    .popup_front table td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_front table td select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4; }
      .popup_front table td input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4; }
      .popup_front table td input.w100 {
        width: 100%; }
      .popup_front table td textarea {
        width: 100%;
        padding: 10px;
        line-height: 30px;
        color: #666;
        border: 1px solid #e4e4e4; }
      .popup_front table td .red {
        color: #da0000;
        line-height: 25px; }
      .popup_front table td p {
        margin: 0;
        padding-top: 5px; }
      .popup_front table td a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%; }
      .popup_front table td .tdtext {
        display: inline-block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 18px; }
  .popup_front table.half_table td {
    padding: 8px;
    text-align: left !important; }
    .popup_front table.half_table td table.point_table {
      width: auto;
      margin-top: 0px;
      border: 0px; }
      .popup_front table.half_table td table.point_table td {
        border: 0px;
        text-align: center !important; }
  .popup_front .top_close2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }
  .popup_front .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px; }
  .popup_front .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll; }
    .popup_front .clause_text .tb {
      font-weight: bold; }
  .popup_front .btn_close2 {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c; }

.popup_front2 {
  display: none;
  position: absolute;
  z-index: 1004;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px;
  height: auto; }
  .popup_front2 table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4; }
    .popup_front2 table th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_front2 table th .red {
        color: #da0000;
        position: relative;
        top: 2px; }
      .popup_front2 table th button {
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border: 1px solid #e4e4e4;
        text-align: center; }
    .popup_front2 table td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_front2 table td select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4; }
      .popup_front2 table td input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4; }
      .popup_front2 table td textarea {
        width: 100%;
        padding: 10px;
        line-height: 30px;
        color: #666;
        border: 1px solid #e4e4e4; }
      .popup_front2 table td .red {
        color: #da0000;
        line-height: 25px; }
      .popup_front2 table td p {
        margin: 0;
        padding-top: 5px; }
      .popup_front2 table td a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%; }
      .popup_front2 table td .tdtext {
        display: inline-block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 18px; }
  .popup_front2 table.half_table td {
    padding: 8px;
    text-align: left !important; }
    .popup_front2 table.half_table td table.point_table {
      width: auto;
      margin-top: 0px;
      border: 0px; }
      .popup_front2 table.half_table td table.point_table td {
        border: 0px;
        text-align: center !important; }
  .popup_front2 .top_close2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }
  .popup_front2 .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px; }
  .popup_front2 .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll; }
    .popup_front2 .clause_text .tb {
      font-weight: bold; }
  .popup_front2 .btn_close2 {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c; }

.popup_content {
  display: none;
  position: absolute;
  z-index: 1002;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px; }
  .popup_content table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4; }
    .popup_content table th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_content table th .red {
        color: #da0000;
        position: relative;
        top: 2px; }
      .popup_content table th button {
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border: 1px solid #e4e4e4;
        text-align: center; }
    .popup_content table td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_content table td select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4; }
      .popup_content table td input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4; }
      .popup_content table td input.w100 {
        width: 100%; }
      .popup_content table td textarea {
        width: 100%;
        padding: 10px;
        line-height: 30px;
        color: #666;
        border: 1px solid #e4e4e4; }
      .popup_content table td .red {
        color: #da0000;
        line-height: 25px; }
      .popup_content table td p {
        margin: 0;
        padding-top: 5px; }
      .popup_content table td a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%; }
      .popup_content table td .tdtext {
        display: inline-block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 18px; }
  .popup_content table.half_table td {
    padding: 8px;
    text-align: left !important; }
    .popup_content table.half_table td table.point_table {
      width: auto;
      margin-top: 0px;
      border: 0px; }
      .popup_content table.half_table td table.point_table td {
        border: 0px;
        text-align: center !important; }
  .popup_content #content_p {
    padding: 0 !important;
    margin-top: 30px; }
    .popup_content #content_p #gbox_jqGrid2 {
      padding-top: 0px !important;
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important; }
    .popup_content #content_p .ui-jqgrid-htable {
      margin-top: 0px !important; }
    .popup_content #content_p .jqgfirstrow td {
      height: 0px !important;
      padding: 0 !important;
      border-bottom: 0px; }
    .popup_content #content_p .ui-jqgrid-bdiv {
      margin-top: -20px !important; }
    .popup_content #content_p table th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
    .popup_content #content_p table td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
    .popup_content #content_p table td#jqGridPager2_center {
      border: none !important;
      width: 200px !important; }
      .popup_content #content_p table td#jqGridPager2_center table {
        border: none !important; }
        .popup_content #content_p table td#jqGridPager2_center table tr td {
          border: none !important; }
    .popup_content #content_p table td#jqGridPager2_left {
      border: none !important;
      border-right: none; }
      .popup_content #content_p table td#jqGridPager2_left tr td {
        border: none !important; }
    .popup_content #content_p table td#jqGridPager2_right {
      border: none !important; }
      .popup_content #content_p table td#jqGridPager2_right tr td {
        border: none !important; }
    .popup_content #content_p table .ui-common-table {
      width: 100% !important; }
    .popup_content #content_p table .ui-jqgrid .ui-jqgrid-hbox {
      padding-right: 0px !important; }
    .popup_content #content_p table td.ui-state-default ui-th-column ui-th-ltr {
      width: 0px !important; }
    .popup_content #content_p table td#prev_jqGridPager2 {
      position: relative;
      top: 5px;
      width: 20px !important;
      height: 20px !important;
      background: url(../img/prev.png) no-repeat !important; }
    .popup_content #content_p table td#next_jqGridPager2 {
      position: relative;
      top: 5px;
      width: 20px !important;
      height: 20px !important;
      background: url(../img/next.png) no-repeat !important; }
    .popup_content #content_p table td#first_jqGridPager2 {
      position: relative;
      top: 5px;
      width: 20px !important;
      height: 20px !important;
      background: url(../img/pprev.png) no-repeat !important; }
    .popup_content #content_p table td#last_jqGridPager2 {
      position: relative;
      top: 5px;
      width: 20px !important;
      height: 20px !important;
      background: url(../img/nnext.png) no-repeat !important; }
    .popup_content #content_p table td.ui-pg-button span {
      display: none; }
    .popup_content #content_p table button {
      color: #3c3c3c; }
    .popup_content #content_p table .btn_sc {
      color: #3c3c3c;
      padding: 2px 10px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -1px;
      background: #f2f2f2;
      border: 1px solid #e4e4e4;
      text-align: center; }
    .popup_content #content_p button {
      color: #3c3c3c; }
    .popup_content #content_p .btn_sc {
      color: #3c3c3c;
      padding: 2px 10px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -1px;
      background: #f2f2f2;
      border: 1px solid #e4e4e4;
      text-align: center; }
  .popup_content .top_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }
  .popup_content .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px; }
  .popup_content .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll; }
    .popup_content .clause_text .tb {
      font-weight: bold; }
  .popup_content .btn_close {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c; }

.popup_content2 {
  display: none;
  position: absolute;
  z-index: 1002;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px; }
  .popup_content2 table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4; }
    .popup_content2 table th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_content2 table th .red {
        color: #da0000;
        position: relative;
        top: 2px; }
      .popup_content2 table th button {
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border: 1px solid #e4e4e4;
        text-align: center; }
    .popup_content2 table td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_content2 table td select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4; }
      .popup_content2 table td input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4; }
      .popup_content2 table td input.w100 {
        width: 100%; }
      .popup_content2 table td textarea {
        width: 100%;
        padding: 10px;
        line-height: 30px;
        color: #666;
        border: 1px solid #e4e4e4; }
      .popup_content2 table td .red {
        color: #da0000;
        line-height: 25px; }
      .popup_content2 table td p {
        margin: 0;
        padding-top: 5px; }
      .popup_content2 table td a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%; }
      .popup_content2 table td .tdtext {
        display: inline-block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 18px; }
  .popup_content2 table.half_table td {
    padding: 8px;
    text-align: left !important; }
    .popup_content2 table.half_table td table.point_table {
      width: auto;
      margin-top: 0px;
      border: 0px; }
      .popup_content2 table.half_table td table.point_table td {
        border: 0px;
        text-align: center !important; }
  .popup_content2 .top_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }
  .popup_content2 .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px; }
  .popup_content2 .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll; }
    .popup_content2 .clause_text .tb {
      font-weight: bold; }
  .popup_content2 .btn_close {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c; }

.popup_content3 {
  display: none;
  position: absolute;
  z-index: 1002;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px; }
  .popup_content3 table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4; }
    .popup_content3 table th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_content3 table th .red {
        color: #da0000;
        position: relative;
        top: 2px; }
      .popup_content3 table th button {
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border: 1px solid #e4e4e4;
        text-align: center; }
    .popup_content3 table td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_content3 table td select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4; }
      .popup_content3 table td input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4; }
      .popup_content3 table td input.w100 {
        width: 100%; }
      .popup_content3 table td textarea {
        width: 100%;
        padding: 10px;
        line-height: 30px;
        color: #666;
        border: 1px solid #e4e4e4; }
      .popup_content3 table td .red {
        color: #da0000;
        line-height: 25px; }
      .popup_content3 table td p {
        margin: 0;
        padding-top: 5px; }
      .popup_content3 table td a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%; }
      .popup_content3 table td .tdtext {
        display: inline-block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 18px; }
  .popup_content3 table.half_table td {
    padding: 8px;
    text-align: left !important; }
    .popup_content3 table.half_table td table.point_table {
      width: auto;
      margin-top: 0px;
      border: 0px; }
      .popup_content3 table.half_table td table.point_table td {
        border: 0px;
        text-align: center !important; }
  .popup_content3 .top_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }
  .popup_content3 .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px; }
  .popup_content3 .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll; }
    .popup_content3 .clause_text .tb {
      font-weight: bold; }
  .popup_content3 .btn_close {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c; }

.popup_content4 {
  display: none;
  position: absolute;
  z-index: 1002;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px; }
  .popup_content4 table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4; }
    .popup_content4 table th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_content4 table th .red {
        color: #da0000;
        position: relative;
        top: 2px; }
      .popup_content4 table th button {
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border: 1px solid #e4e4e4;
        text-align: center; }
    .popup_content4 table td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      .popup_content4 table td select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4; }
      .popup_content4 table td input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4; }
      .popup_content4 table td input.w100 {
        width: 100%; }
      .popup_content4 table td textarea {
        width: 100%;
        padding: 10px;
        line-height: 30px;
        color: #666;
        border: 1px solid #e4e4e4; }
      .popup_content4 table td .red {
        color: #da0000;
        line-height: 25px; }
      .popup_content4 table td p {
        margin: 0;
        padding-top: 5px; }
      .popup_content4 table td a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%; }
      .popup_content4 table td .tdtext {
        display: inline-block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 18px; }
  .popup_content4 table.half_table td {
    padding: 8px;
    text-align: left !important; }
    .popup_content4 table.half_table td table.point_table {
      width: auto;
      margin-top: 0px;
      border: 0px; }
      .popup_content4 table.half_table td table.point_table td {
        border: 0px;
        text-align: center !important; }
  .popup_content4 .top_close,.top_close4{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }
  .popup_content4 .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px; }
  .popup_content4 .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll; }
    .popup_content4 .clause_text .tb {
      font-weight: bold; }
      
  .popup_content4 .btn_close,.btn_close4 {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c; }

.btnalign {
  text-align: center;
  overflow: hidden;
  margin-top: 20px; }
  .btnalign ul {
    display: inline-block; }
    .btnalign ul li {
      float: left;
      padding: 0 4px; }
      .btnalign ul li .btn_cancel {
        width: 150px;
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        background: #3c3c3c; }
      .btnalign ul li .btn_cancel2 {
        width: 150px;
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        background: #3c3c3c; }
      .btnalign ul li .btn_save {
        width: 150px;
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        background: #3c3c3c; }

.login {
  width: 700px;
  height: 600px;
  padding: 50px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -300px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .login .kt_logo {
    padding-bottom: 30px; }
  .login ul li {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 400;
    text-align: center; }
    .login ul li input {
      background: #f2f2f2;
      width: 70%;
      height: 50px;
      font-size: 18px;
      text-align: center;
      letter-spacing: -1px;
      font-size: 16px; }
    .login ul li button {
      background: #37393a;
      width: 70%;
      padding: 14px 0;
      font-size: 18px;
      color: #fff;
      border: 0px;
      text-align: center;
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow: inset 0 0 10px #000000; }
  .login ul li.capcha {
    width: 70%;
    margin: 0 auto;
    height: 130px;
    background: #fff;
    margin-bottom: 20px; }

.login:before, .login:after {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }

.p_error {
  width: 700px;
  height: 600px;
  padding: 50px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -300px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .p_error .p_error_img {
    width: 350px;
    margin: 0 auto; }
  .p_error .p_error_script {
    width: 100%;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
    text-align: center;
    padding: 30px 60px; }
  .p_error button {
    background: #37393a;
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    border: 0px;
    text-align: center;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; }

/* Main Componenet */
section#dash_board {
  width: 100%;
  position: relative;
  top: 80px;
  left: 0;
  top: 80px; }
  section#dash_board .side_menu {
    width: 250px;
    height: 100%;
    position: fixed;
    /* overflow-y: scroll; */
    background: #343b4a;
    float: left;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    section#dash_board .side_menu nav ul li {
      font-size: 14px;
      color: #9097a7;
      background: #343b4a;
      padding: 12px 20px;
      letter-spacing: -1px; }
      section#dash_board .side_menu nav ul li i {
        font-size: 14px;
        color: #9097a7;
        margin-right: 3px;
        border: 0; }
      section#dash_board .side_menu nav ul li:hover {
        color: #fff;
        background: #3f4759;
        border-left: 3px solid #fff;
        cursor: hand; }
        section#dash_board .side_menu nav ul li:hover i {
          color: #fff; }
    section#dash_board .side_menu nav ul li.deps1 {
      padding: 20px 20px;
      font-size: 14px;
      color: #8facd0;
      font-weight: bold;
      letter-spacing: -1px; }
      section#dash_board .side_menu nav ul li.deps1:hover {
        color: #829cbd;
        background: none;
        border-left: none; }
        section#dash_board .side_menu nav ul li.deps1:hover i {
          color: #829cbd; }
    section#dash_board .side_menu nav ul .deps2 .deps_arrow {
      position: relative;
      float: right;
      top: -2px;
      right: 5px;
      width: 20px;
      height: 20px; }
      section#dash_board .side_menu nav ul .deps2 .deps_arrow img {
        width: 100%; }
    section#dash_board .side_menu nav ul .deps2 .menu_name {
      display: inline; }
    section#dash_board .side_menu nav ul .deps2 a {
      font-size: 14px;
      color: #9097a7; }
    section#dash_board .side_menu nav ul .deps3 {
      display: none;
      background: #292e3a;
      cursor: hand; }
      section#dash_board .side_menu nav ul .deps3 a {
        display: block;
        padding: 10px 0;
        text-indent: 22px;
        font-size: 14px;
        color: #fff;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        text-decoration: none; }
        section#dash_board .side_menu nav ul .deps3 a:hover {
          background: #316fe2; }
  section#dash_board .contents {
    width: calc(100% - 250px);
    height: 100%;
    position: fixed;
    background: #f2f2f2;
    color: #fff;
    left: 250px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    section#dash_board .contents .page_title {
      width: 100%;
      height: 50px;
      padding: 0 30px;
      background: #fff;
      border-top: 1px solid #e4e4e4; }
      section#dash_board .contents .page_title .page_name {
        float: left;
        line-height: 50px;
        color: #6c757d;
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: bold; }
      section#dash_board .contents .page_title .page_location {
        float: right;
        line-height: 50px;
        color: #ccc;
        font-size: 12px;
        letter-spacing: -1px;
        font-weight: bold; }
        section#dash_board .contents .page_title .page_location i {
          color: #ccc; }
    section#dash_board .contents .subject {
      padding: 30px; }
      section#dash_board .contents .subject .page_search {
        padding: 20px;
        background: #fff;
        border: 1px solid #e4e4e4; }
        section#dash_board .contents .subject .page_search table.search_tb {
          width: 100%; }
          section#dash_board .contents .subject .page_search table.search_tb tr td.search_item ul {
            margin-bottom: 0px; }
            section#dash_board .contents .subject .page_search table.search_tb tr td.search_item ul li {
              float: left;
              color: #000;
              font-size: 14px;
              letter-spacing: -1px;
              margin: 5px 8px;
              line-height: 33px; }
              section#dash_board .contents .subject .page_search table.search_tb tr td.search_item ul li select {
                color: #000;
                font-size: 14px;
                padding: 4px 0 9px 0px;
                letter-spacing: -1px;
                border: 0px;
                background: #fff;
                border: 1px solid #e4e4e4;
                margin-left: 8px; }
              section#dash_board .contents .subject .page_search table.search_tb tr td.search_item ul li input {
                width: 110px;
                height: 32px;
                color: #666;
                line-height: 30px;
                font-size: 12px;
                border: 0px;
                border: 1px solid #e4e4e4;
                margin-left: 8px; }
              section#dash_board .contents .subject .page_search table.search_tb tr td.search_item ul li a.btn_cal {
                display: inline-block;
                margin-bottom: -7px;
                margin-left: 3px;
                width: 25px;
                height: 25px;
                padding: 5px;
                background: url(../img/cal.png) no-repeat;
                -webkit-background-size: 100%;
                background-size: 100%; }
            section#dash_board .contents .subject .page_search table.search_tb tr td.search_item ul li.sname {
              line-height: 33px; }
          section#dash_board .contents .subject .page_search table.search_tb tr td.btn_search {
            width: 100px;
            position: relative; }
            section#dash_board .contents .subject .page_search table.search_tb tr td.btn_search button {
              width: 100%;
              border: 1px solid red;
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              color: #fff;
              font-size: 15px;
              font-weight: 400;
              letter-spacing: -1px;
              border: none;
              background: #3c3c3c;
              text-align: center; }
      section#dash_board .contents .subject .page_contents {
        margin-top: 20px;
        padding: 20px;
        background: #fff;
        border: 1px solid #e4e4e4;
        clear: both; }
        section#dash_board .contents .subject .page_contents ul li {
          width: 48%;
          padding: 0px;
          border: 1px soldi red;
          overflow: auto; }
          section#dash_board .contents .subject .page_contents ul li .tt_line {
            font-size: 16px;
            width: 100%;
            text-align: left;
            color: #3c3c3c;
            font-weight: bold;
            line-height: 30px; }
            section#dash_board .contents .subject .page_contents ul li .tt_line button {
              float: right;
              color: #fff;
              padding: 0 10px;
              height: 30px;
              line-height: 30px;
              font-size: 15px;
              font-weight: 400;
              letter-spacing: -1px;
              background: #3c3c3c;
              border: none; }
          section#dash_board .contents .subject .page_contents ul li .con_table {
            height: 600px;
            padding-top: 20px; }
        section#dash_board .contents .subject .page_contents li:first-child {
          float: left; }
        section#dash_board .contents .subject .page_contents li:last-child {
          float: right; }
        section#dash_board .contents .subject .page_contents .authmanage_box {
          width: 800px;
          margin: 0 auto; }
          section#dash_board .contents .subject .page_contents .authmanage_box .tt_line {
            text-align: center; }
          section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list {
            float: left;
            padding: 0 10px; }
            section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .group_list {
              margin-top: 20px;
              height: 600px;
              border-top: 1px solid #e4e4e4;
              letter-spacing: -1px;
              font-size: 14px;
              color: #3c3c3c; }
              section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .group_list ul li.groupitem {
                width: 100%;
                border-bottom: 1px solid #e4e4e4;
                border-right: 1px solid #e4e4e4;
                border-left: 1px solid #e4e4e4; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .group_list ul li.groupitem a {
                  display: block;
                  width: 100%;
                  padding: 8px 20px;
                  line-height: 30px;
                  text-decoration: none;
                  color: #3c3c3c; }
                  section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .group_list ul li.groupitem a:hover {
                    background: #edf6ff; }
              section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .group_list ul li.groupitem_on {
                width: 100%;
                border-bottom: 1px solid #e4e4e4;
                border-right: 1px solid #e4e4e4;
                border-left: 1px solid #e4e4e4; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .group_list ul li.groupitem_on a {
                  display: block;
                  width: 100%;
                  padding: 8px 20px;
                  line-height: 30px;
                  text-decoration: none;
                  color: #3c3c3c;
                  background: #edf6ff; }
              section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .group_list ul li:first-child {
                width: 100%;
                padding: 8px 20px;
                line-height: 30px;
                background: #f2f2f2;
                text-align: center;
                font-weight: bold; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .group_list ul li:first-child:hover {
                  background: #f2f2f2; }
            section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list {
              margin-top: 20px;
              height: 600px;
              border-top: 1px solid #e4e4e4;
              letter-spacing: -1px;
              font-size: 14px;
              color: #3c3c3c; }
              section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li.menuitem {
                position: relative;
                z-index: 999;
                width: 100%;
                text-indent: 20px;
                border-bottom: 1px solid #e4e4e4;
                border-right: 1px solid #e4e4e4;
                border-left: 1px solid #e4e4e4;
                width: 100%;
                padding: 8px 20px;
                line-height: 30px;
                text-decoration: none !important;
                color: #3c3c3c !important; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li.menuitem .menu_checkbox {
                  position: absolute;
                  top: 12px;
                  left: 0px;
                  z-index: 1000; }
                  section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li.menuitem .menu_checkbox input {
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    border: 1px solid #e4e4e4; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li.menuitem .deps_arrow {
                  position: absolute;
                  text-indent: 0px;
                  top: 10px;
                  right: 15px;
                  width: 20px;
                  height: 20px; }
                  section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li.menuitem .deps_arrow img {
                    width: 100%; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li.menuitem a {
                  display: block;
                  text-decoration: none;
                  color: #3c3c3c; }
              section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li:first-child {
                width: 100%;
                padding: 8px 20px;
                line-height: 30px;
                background: #f2f2f2;
                text-align: center;
                font-weight: bold; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li:first-child .menu_checkbox {
                  position: absolute;
                  top: 12px;
                  left: 20px; }
                  section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li:first-child .menu_checkbox input {
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    border: 1px solid #e4e4e4; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul li:first-child:hover {
                  background: #f2f2f2; }
              section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul .deps3 {
                display: none;
                width: 100%;
                border-bottom: 1px solid #e4e4e4;
                border-right: 1px solid #e4e4e4;
                border-left: 1px solid #e4e4e4;
                margin: 0px; }
                section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul .deps3 a {
                  position: relative;
                  display: block;
                  width: 100%;
                  padding: 8px 20px 8px 60px;
                  line-height: 20px;
                  font-size: 14px;
                  text-decoration: none;
                  color: #3c3c3c;
                  background: #f2f2f2; }
                  /* section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul .deps3 a:hover {
                    background: #ccc;
                    color: #fff; } */
                  section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul .deps3 a .menu_checkbox {
                    position: absolute;
                    top: 8px;
                    left: 40px; }
                    section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul .deps3 a .menu_checkbox input {
                      width: 15px;
                      height: 15px;
                      background: #fff;
                      border: 1px solid #e4e4e4; }
              section#dash_board .contents .subject .page_contents .authmanage_box ul li.contents_list .menu_list ul .deps1 {
                font-weight: bold; }
        section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left {
          width: 30%; }
          section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list {
            margin-top: 20px;
            height: 600px;
            border-top: 1px solid #e4e4e4;
            letter-spacing: -1px;
            font-size: 14px;
            color: #3c3c3c; }
            section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li.menuitem {
              position: relative;
              z-index: 999;
              width: 100%;
              text-indent: 0px;
              border-bottom: 1px solid #e4e4e4;
              border-right: 1px solid #e4e4e4;
              border-left: 1px solid #e4e4e4;
              width: 100%;
              padding: 8px 20px;
              line-height: 30px;
              text-decoration: none !important;
              color: #3c3c3c !important; }
              section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li.menuitem .menu_checkbox {
                position: absolute;
                top: 12px;
                left: 0px;
                z-index: 1000; }
                section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li.menuitem .menu_checkbox input {
                  width: 15px;
                  height: 15px;
                  background: #fff;
                  border: 1px solid #e4e4e4; }
              section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li.menuitem button {
                position: absolute;
                right: 5px;
                top: 5px;
                color: #999;
                padding: 2px 10px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -1px;
                background: #f2f2f2;
                border: 1px solid #e4e4e4;
                text-align: center; }
              section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li.menuitem .deps_arrow {
                position: absolute;
                text-indent: 0px;
                top: 10px;
                right: 60px;
                width: 20px;
                height: 20px; }
                section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li.menuitem .deps_arrow img {
                  width: 100%; }
              /* section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li.menuitem:hover {
                background: #edf6ff; } */
              section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li.menuitem a {
                display: block;
                text-decoration: none;
                color: #3c3c3c; }
            section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li:first-child {
              width: 100%;
              padding: 8px 20px;
              line-height: 30px;
              background: #f2f2f2;
              text-align: center;
              font-weight: bold; }
              section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li:first-child .menu_checkbox {
                position: absolute;
                top: 12px;
                left: 20px; }
                section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li:first-child .menu_checkbox input {
                  width: 15px;
                  height: 15px;
                  background: #fff;
                  border: 1px solid #e4e4e4; }
              section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul li:first-child:hover {
                background: #f2f2f2; }
            section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul .deps3 {
              display: none;
              width: 100%;
              border-bottom: 1px solid #e4e4e4;
              border-right: 1px solid #e4e4e4;
              border-left: 1px solid #e4e4e4;
              margin: 0px; }
              section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul .deps3 button {
                position: absolute;
                right: 5px;
                top: 5px;
                color: #999;
                padding: 2px 10px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -1px;
                background: #fff;
                border: 1px solid #e4e4e4;
                text-align: center; }
              section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul .deps3 a {
                position: relative;
                display: block;
                width: 100%;
                padding: 8px 20px 8px 30px;
                line-height: 20px;
                font-size: 14px;
                text-decoration: none;
                color: #3c3c3c;
                background: #f2f2f2; }
                /* section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul .deps3 a:hover {
                  background: #ccc;
                  color: #fff; } */
                section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul .deps3 a .menu_checkbox {
                  position: absolute;
                  top: 8px;
                  left: 40px; }
                  section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul .deps3 a .menu_checkbox input {
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    border: 1px solid #e4e4e4; }
            section#dash_board .contents .subject .page_contents .menuinfview_box .contents_left .menu_list ul .deps1 {
              font-weight: bold; }
        section#dash_board .contents .subject .page_contents .menuinfview_box .contents_right {
          width: 68%; }
        section#dash_board .contents .subject .page_contents .sysrefview {
          width: 500px;
          height: 550px;
          margin: 0 auto;
          margin-top: 120px; }
          section#dash_board .contents .subject .page_contents .sysrefview table {
            width: 100%;
            margin-top: 20px;
            border-top: 1px solid #e4e4e4;
            border-left: 1px solid #e4e4e4; }
            section#dash_board .contents .subject .page_contents .sysrefview table th {
              padding: 5px;
              height: 30px;
              color: #3c3c3c;
              font-weight: 600;
              background: #f2f2f2;
              text-align: center;
              vertical-align: middle;
              line-height: 25px;
              letter-spacing: -1px;
              font-size: 14px;
              border-right: 1px solid #e4e4e4;
              border-bottom: 1px solid #e4e4e4; }
            section#dash_board .contents .subject .page_contents .sysrefview table td {
              padding: 5px;
              height: 30px;
              color: #999;
              text-align: center;
              vertical-align: middle;
              line-height: 25px;
              font-size: 14px;
              border-right: 1px solid #e4e4e4;
              border-bottom: 1px solid #e4e4e4; }
              section#dash_board .contents .subject .page_contents .sysrefview table td button {
                color: #999;
                padding: 0 12px !important;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -1px;
                background: #f2f2f2;
                border: 1px solid #e4e4e4;
                text-align: center; }
        section#dash_board .contents .subject .page_contents table.cord_table {
          width: 100%;
          border-top: 1px solid #e4e4e4;
          border-left: 1px solid #e4e4e4; }
          section#dash_board .contents .subject .page_contents table.cord_table th {
            padding: 5px;
            color: #3c3c3c;
            font-weight: 600;
            background: #f2f2f2;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            letter-spacing: -1px;
            font-size: 14px;
            border-right: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4; }
            section#dash_board .contents .subject .page_contents table.cord_table th .red {
              color: #da0000;
              position: relative;
              top: 2px; }
          section#dash_board .contents .subject .page_contents table.cord_table td {
            padding: 5px;
            color: #999;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            font-size: 14px;
            border-right: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4; }
            section#dash_board .contents .subject .page_contents table.cord_table td select {
              color: #000;
              font-size: 14px;
              padding: 8px 0;
              letter-spacing: -1px;
              border: 0px;
              background: #fff;
              border: 1px solid #e4e4e4; }
            section#dash_board .contents .subject .page_contents table.cord_table td input[type=text] {
              color: #666;
              line-height: 30px;
              font-size: 16px;
              border: 0px;
              border: 1px solid #e4e4e4; }
            section#dash_board .contents .subject .page_contents table.cord_table td input[type=button] {
              color: #999;
              padding: 2px 10px;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: -1px;
              background: #f2f2f2;
              border: 1px solid #e4e4e4;
              text-align: center; }
            section#dash_board .contents .subject .page_contents table.cord_table td button {
              color: #999;
              padding: 2px 10px;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: -1px;
              background: #f2f2f2;
              border: 1px solid #e4e4e4;
              text-align: center; }
            section#dash_board .contents .subject .page_contents table.cord_table td .red {
              color: #da0000;
              line-height: 25px; }
          section#dash_board .contents .subject .page_contents table.cord_table td.al_lift {
            text-align: left !important; }
        section#dash_board .contents .subject .page_contents tr:hover {
          background: #edf6ff; }
        section#dash_board .contents .subject .page_contents .btn_excel {
          width: 100%;
          text-align: right;
          margin-bottom: 20px; }
          section#dash_board .contents .subject .page_contents .btn_excel button {
            color: #fff;
            padding: 5px 14px;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -1px;
            background: #3c3c3c;
            border: none;
            text-align: center; }
        section#dash_board .contents .subject .page_contents #content {
          padding: 0 !important;
          margin: 0 !important; }
          section#dash_board .contents .subject .page_contents #content #gbox_jqGrid {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important; }
          section#dash_board .contents .subject .page_contents #content table th {
            padding: 5px;
            color: #3c3c3c;
            font-weight: 600;
            background: #f2f2f2;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            letter-spacing: -1px;
            font-size: 14px;
            border-right: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4; }
          section#dash_board .contents .subject .page_contents #content table td {
            padding: 5px;
            color: #999;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            font-size: 14px;
            border-right: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4; }
          section#dash_board .contents .subject .page_contents #content table td#jqGridPager_center {
            border-top: 1px solid #e4e4e4;
            border-right: none;
            width: 200px !important; }
            section#dash_board .contents .subject .page_contents #content table td#jqGridPager_center tr td {
              border: none !important; }
          section#dash_board .contents .subject .page_contents #content table td#jqGridPager_left {
            border-top: 1px solid #e4e4e4;
            border-right: none; }
            section#dash_board .contents .subject .page_contents #content table td#jqGridPager_left tr td {
              border: none !important; }
          section#dash_board .contents .subject .page_contents #content table td#jqGridPager_right {
            border-top: 1px solid #e4e4e4; }
            section#dash_board .contents .subject .page_contents #content table td#jqGridPager_right tr td {
              border: none !important; }
          section#dash_board .contents .subject .page_contents #content table .jqgfirstrow td {
            height: 0px !important;
            padding: 0 !important;
            border-bottom: 0px; }
          section#dash_board .contents .subject .page_contents #content table .ui-common-table {
            width: 100% !important; }
          section#dash_board .contents .subject .page_contents #content table .ui-jqgrid .ui-jqgrid-hbox {
            padding-right: 0px !important; }
          section#dash_board .contents .subject .page_contents #content table td.ui-state-default ui-th-column ui-th-ltr {
            width: 0px !important; }
          section#dash_board .contents .subject .page_contents #content table td#prev_jqGridPager {
            position: relative;
            top: 5px;
            width: 20px !important;
            height: 20px !important;
            background: url(../img/prev.png) no-repeat !important; }
          section#dash_board .contents .subject .page_contents #content table td#next_jqGridPager {
            position: relative;
            top: 5px;
            width: 20px !important;
            height: 20px !important;
            background: url(../img/next.png) no-repeat !important; }
          section#dash_board .contents .subject .page_contents #content table td#first_jqGridPager {
            position: relative;
            top: 5px;
            width: 20px !important;
            height: 20px !important;
            background: url(../img/pprev.png) no-repeat !important; }
          section#dash_board .contents .subject .page_contents #content table td#last_jqGridPager {
            position: relative;
            top: 5px;
            width: 20px !important;
            height: 20px !important;
            background: url(../img/nnext.png) no-repeat !important; }
          section#dash_board .contents .subject .page_contents #content table td.ui-pg-button span {
            display: none; }
          section#dash_board .contents .subject .page_contents #content table button {
            color: #3c3c3c; }
          section#dash_board .contents .subject .page_contents #content table .btn_sc {
            color: #3c3c3c;
            padding: 2px 10px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -1px;
            background: #f2f2f2;
            border: 1px solid #e4e4e4;
            text-align: center; }
      section#dash_board .contents .subject .page_number {
        margin-top: 20px;
        padding: 20px;
        background: #fff;
        border: 1px solid #e4e4e4;
        text-align: center; }
        section#dash_board .contents .subject .page_number ul {
          display: inline-block; }
          section#dash_board .contents .subject .page_number ul li {
            float: left;
            padding: 5px;
            margin: 5px;
            color: #3c3c3c;
            font-size: 14px; }
            section#dash_board .contents .subject .page_number ul li i {
              font-size: 14px;
              color: #3c3c3c; }
            section#dash_board .contents .subject .page_number ul li .pn_on {
              color: #000; }

section#dash_board.active .side_menu {
  margin-left: -250px; }
section#dash_board.active .contents {
  margin-left: -250px;
  width: 100%; }

.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn:hover {
  text-decoration: none; }

/* button type */
.btn-primary {
  background: #E8485A;
  border-color: #E8485A;
  color: #fff; }

.btn-primary-ol {
  background: #fff;
  border-color: #fff;
  color: #E8485A; }

.btn-tool {
  background: #a7a7a7;
  border-color: #a7a7a7;
  color: #fff; }

/* button size */
.btn-full {
  width: 100%;
  padding: 12px 15px; }

.btn-big {
  font-size: 14px;
  width: 100%;
  padding: 16px 15px;
  font-weight: bold; }
  .btn-big i {
    font-size: 22px;
    margin-right: 4px;
    vertical-align: middle; }

.btn-md {
  padding: 10px 14px;
  font-size: 13px; }
  .btn-md i {
    font-size: 20px; }

.btn-sm {
  font-size: 12px;
  padding: 4px 6px; }
  .btn-sm i {
    font-size: 16px; }

/* button option amount */
.btn .amount {
  display: inline-block;
  width: 13px;
  height: 13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  background: #E8485A;
  text-align: center;
  line-height: 12px;
  font-size: 10px; }

.btn-material {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=style.css.map */

/* jqGrid Auto Size */
.ui-common-table { width:100% !important; }
.ui-jqgrid .ui-jqgird-hbox { padding-right: 0px !important; }