/* main font */

body {
  font-family:'Malgun Gothic','Noto Sans KR', 'dotum', 'gulim' , 'sans-serif';
  word-break:break-all;
  font-weight: 300;
  line-height: 1;
}



// Media queries
@mixin screen-lg {
  @media only screen and (max-width: 1600px) {
    @content;
  }
}
@mixin screen-md {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}
@mixin screen-sm {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin screen-xs {
  @media only screen and (max-width: 320px) {
    @content;
  }
}



/* layout */
body,html{height:100%;background: #F5F7FA;}
#wrap {
  width: 100%;
  margin:0 auto;

}
.container_box {
  max-width:100%;
  margin:0 auto;
  padding:0 10px;
}


/* typography */
h1,h2 {
  line-height:1.2;
}
h3,h4,h5,h6 {
  line-height:1.4;
}
p {
  color:#757575;
  font-size:15px;
  line-height:1.8;
}


/* short cut*/
.pull-left{float:left;}
.pull-right{float:right;}
.por{position:relative;}
.poa{position:absolute;}
.pof{position:fixed;}
.dtb{display:table;}
.dtbc{display:table-cell;}
.vat{vertical-align:top;}
.vam{vertical-align:middle;}
.vab{vertical-align:bottom;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.blind {position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;}


/* interval */

.pt0{padding-top:0!important;}     .pt5{padding-top:5px;}    .pt10{padding-top:10px;}     .pt20{padding-top:20px;}     .pt30{padding-top:30px;}
.pr0{padding-right:0!important;}   .pr5{padding-right:5px;}  .pr10{padding-right:10px;}   .pr20{padding-right:20px;}   .pr30{padding-right:30px;}
.pl0{padding-left:0!important;}    .pl5{padding-left:5px;}   .pl10{padding-left:10px;}    .pl20{padding-left:20px;}    .pl30{padding-left:30px;}
.pb0{padding-bottom:0!important;}  .pb5{padding-bottom:5px;} .pb10{padding-bottom:10px;}  .pb20{padding-bottom:20px;}  .pb30{padding-bottom:30px;}

.mt0{margin-top:0!important;}     .mt5{margin-top:5px;}    .mt10{margin-top:10px;}     .mt20{margin-top:20px;}     .mt30{margin-top:30px;}
.mr0{margin-right:0!important;}   .mr5{margin-right:5px;}  .mr10{margin-right:10px;}   .mr20{margin-right:20px;}   .mr30{margin-right:30px;}
.ml0{margin-left:0!important;}    .ml5{margin-left:5px;}   .ml10{margin-left:10px;}    .ml20{margin-left:20px;}    .ml30{margin-left:30px;}
.mb0{margin-bottom:0!important;}  .mb5{margin-bottom:5px;} .mb10{margin-bottom:10px;}  .mb20{margin-bottom:20px;}  .mb30{margin-bottom:30px;}



/* form */
.form-ctrl {
  color:#000;
  border:1px solid #e1e1e1;
  padding: 8px 8px 8px 10px;
  font-size: 13px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  &:focus {
    outline: 0;
    border-color: #666;
  }
  &:hover {
    background: #fafafa;
  }
}

.input-group {
  font-size: 0;
  .tit {
    min-width: 130px;
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    vertical-align: top;
  }
  .form-ctrl {
    height: 40px;
    display: inline-block;
  }
  &.input-sm {
    input{
      width: 10%;
      min-width: 100px;
    }
  }
  &.input-md {
    input {
      width: 50%;
      min-width: 200px;
    }
  }
  &.input-lg {
    input {
      width: 90%;
    }
  }
  textarea.form-ctrl {
    height:unset;
    resize: none;
    width:calc(100% - 135px);
  }
}

.input-checkbox {
  input {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
  label {
    i {
      display: block;
      float: left;
      font-size: 22px;
      color: #999;
    }
    span {
      display: block;
      margin-left: 28px;
      line-height: 24px;
      font-size: 13px;
    }
  }

  input + label {
    i.icon-checked {
      display: none;
    }
  }
  input:checked + label {
    i.icon-line {
      display: none;
    }
    i.icon-checked {
      display: block;
      color: #333;
    }
  }
}

.terms-group {
  margin-top: 50px;
  .tit {
    font-size: 15px;
    color: #333;
    margin-bottom: 7px;
  }
  .terms {
    border: 1px solid #e1e1e1;
    padding: 15px;
    font-size: 12px;
    line-height: 1.8;
    height: 120px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
}

