/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}
strong {font-weight: bold;}
.container:after,.clearfix:after,.row:after,ul:after{content:'';display:table;clear:both;}

*, *:after, *:before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

img{vertical-align:top;max-width:100%;}

a{color:#333;text-decoration:none;&:focus, &:hover, &:active{text-decoration:none;outline: 0;}}
div{box-sizing: border-box}

::-webkit-input-placeholder{color:#e4e4e4;}
:-moz-placeholder{color:#e4e4e4;}
::-moz-placeholder{color:#e4e4e4;}
:-ms-input-placeholder{color:#e4e4e4;}

*::selection{background:#16b9ff;color:#fff;}
*::-moz-selection{background:#16b9ff;color:#fff}



[type="text"], [type="num"], [type="tel"], [type="file"], [type="password"], [type="email"], [type="search"], [type="url"], textarea {
    border:1px solid #eee;
    padding:0 5px;
}
[type="text"]:focus, [type="num"]:focus, [type="tel"]:focus, [type="file"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus {
    border-color: $primary-color + 30;
    outline:0;
}

