/* Header Componenet */


header {
  width: 100%;
  height: 80px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .container_box {
    margin-left: -10px;
    .left {
      float: left;
      .logo {
        width: 250px;
        background: #343b4a;
        text-align: center;
        line-height: 80px;
        float: left;
        a {
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          i {
            color: #e92337;
            font-size: 18px;
          }
        }
      }
      .s_menu {
        float: left;
        width:30px;
        height:30px;
        margin-top:25px;
        margin-left:30px;
        #menu_toggle{
          text-align: center;
          img{
            width:100%;
          }
        }
      }
    }
    .right {
      float: right;
      .info {
        float: left;
        padding: 0 30px;
        float: left;
        height: 80px;
        a {
          text-align: center;
          i {
            color: #1A232D;
            font-size: 24px;
            text-align: center;
            line-height: 80px;
          }
        }
      }
      .photo {
        width: 60px;
        float: left;
        margin-top: 12px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        img {
          line-height: 80px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }
        &:hover {
          background: #fff;
          opacity: 0.8;
        }
      }
      .user_loginfo {
        padding-left:30px;
        padding-right:10px;
        line-height: 80px;
        vertical-align: middle;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-size: 16px;
        float: left;
        i {
          padding-left: 10px;
          font-size: 15px;
          color: #e4e4e4;
        }
        .dropdown {
          position: relative;
          width:100px;
          height:80px;
          text-align: right;
          .dropdown_contents {
            display: none;
            position: absolute;
            background-color: #343b4a;
            min-width: 130px;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
            right:0;
            top:70px;
            padding: 0;
            opacity:0;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
            .arrow_top{
              position: absolute;
              width: 12px;
              height: 12px;
              background: #343b4a;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              top:-7px;
              left: 96px;
            }
            .info {
              margin-top:10px;
              display: block;
              height:40px;
              width: 100% !important;
              text-align: center;
              font-weight:400;
              font-size:14px;
              line-height:40px;
              a{
                color: #fff;
                text-decoration: none;
              }
            }
            .logout {
              display: block;
              width: 100% !important;
              color: #fff;
              text-align: center;
              font-weight:400;
              font-size:14px;
              line-height:40px;
              a{
                color: #fff;
                text-decoration: none;
              }
            }
          }
          }
        &:hover .dropdown_contents {
          opacity:1;
          display: block;
        }
      }
    }
  }
}
