$side_menu: 250px;

/* popup Componenet */
.bg_color{
  background: #37393a;
}
input.w100{
  width:100%;
}
.loader{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0,0,0,0.2);
  z-index:10000;
  .lds-ring {
    display: inline-block;
    position: relative;
    top:50%;
    left:50%;
    width: 80px;
    height: 80px;
    margin-left:-40px;
    margin-top:-40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}
.table_btn{
  color: #3c3c3c;
  line-height:20px !important;
  padding: 2px 10px !important;
  font-size: 14px !important;
  font-weight: 400;
  letter-spacing: -1px;
  background: #f2f2f2;
  border: 1px solid #e4e4e4;
  text-align: center;
}
.bgon{
  background: #edf6ff !important;
}

.popup{
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}
.popup2{
  display: none;
  position: fixed;
  z-index: 1003;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}
.popup_front {
  display: none;
  position: absolute;
  z-index: 1004;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px;
  height: auto;
  table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      .red {
        color: #da0000;
        position: relative;
        top: 2px;
      }
      button{
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border:1px solid #e4e4e4;
        text-align: center;
      }
    }
    td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4;
      }
      input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4;
      }
      input.w100{
        width:100%;
      }
      textarea{
        width: 100%;
        padding:10px;
        line-height:30px;
        color: #666;
        border: 1px solid #e4e4e4;
      }
      .red {
        color: #da0000;
        line-height: 25px;
      }
      p{
        margin: 0;
        padding-top:5px;
      }
      a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
      .tdtext{
        display: inline-block;
        padding-top:10px;
        font-size:14px;
        line-height:18px;
      }

    }
  }
  table.half_table {
    td {
      padding: 8px;
      text-align: left !important;
      table.point_table{
        width:auto;
        margin-top:0px;
        border:0px;
        td{
          border:0px;
          text-align: center !important;
        }
      }

    }
  }
  .top_close2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px;
  }
  .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll;

    .tb {
      font-weight: bold;
    }
  }
  .btn_close2 {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c;
  }
}
.popup_front2 {
  display: none;
  position: absolute;
  z-index: 1004;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px;
  height: auto;
  table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      .red {
        color: #da0000;
        position: relative;
        top: 2px;
      }
      button{
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border:1px solid #e4e4e4;
        text-align: center;
      }
    }
    td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4;
      }
      input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4;
      }
      textarea{
        width: 100%;
        padding:10px;
        line-height:30px;
        color: #666;
        border: 1px solid #e4e4e4;
      }
      .red {
        color: #da0000;
        line-height: 25px;
      }
      p{
        margin: 0;
        padding-top:5px;
      }
      a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
      .tdtext{
        display: inline-block;
        padding-top:10px;
        font-size:14px;
        line-height:18px;
      }

    }
  }
  table.half_table {
    td {
      padding: 8px;
      text-align: left !important;
      table.point_table{
        width:auto;
        margin-top:0px;
        border:0px;
        td{
          border:0px;
          text-align: center !important;
        }
      }

    }
  }
  .top_close2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px;
  }
  .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll;

    .tb {
      font-weight: bold;
    }
  }
  .btn_close2 {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c;
  }
}
.popup_content {
  display: none;
  position: absolute;
  z-index: 1002;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px;
  table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      .red {
        color: #da0000;
        position: relative;
        top: 2px;
      }
      button {
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border: 1px solid #e4e4e4;
        text-align: center;
      }
    }
    td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4;
      }
      input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4;
      }
      input.w100 {
        width: 100%;
      }
      textarea {
        width: 100%;
        padding: 10px;
        line-height: 30px;
        color: #666;
        border: 1px solid #e4e4e4;
      }
      .red {
        color: #da0000;
        line-height: 25px;
      }
      p {
        margin: 0;
        padding-top: 5px;
      }
      a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
      .tdtext {
        display: inline-block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 18px;
      }

    }

  }
  table.half_table {
    td {
      padding: 8px;
      text-align: left !important;
      table.point_table {
        width: auto;
        margin-top: 0px;
        border: 0px;
        td {
          border: 0px;
          text-align: center !important;
        }
      }

    }
  }



  #content_p {
    padding: 0 !important;
    margin-top:30px;
    #gbox_jqGrid2 {
      padding-top:0px !important;
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    .ui-jqgrid-htable{
      margin-top:0px !important;
    }
    .jqgfirstrow td {
      height: 0px !important;
      padding: 0 !important;
      border-bottom: 0px;
    }
    .ui-jqgrid-bdiv{
      margin-top:-20px !important;
    }

    table {
      th {
        padding: 5px 0px;
        color: #3c3c3c;
        font-weight: 600;
        background: #f2f2f2;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        letter-spacing: -1px;
        font-size: 14px;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
      }
      td {
        padding: 5px 0px;
        color: #999;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        font-size: 14px;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
      }

      td#jqGridPager2_center {
        border:none !important;
        width: 200px !important;
        table{
          border: none !important;
          tr {
            td {
              border: none !important;
            }
          }
        }
      }
      td#jqGridPager2_left {
        border:none !important;
        border-right: none;
        tr {
          td {
            border: none !important;
          }
        }
      }
      td#jqGridPager2_right {
        border:none !important;
        tr {
          td {
            border: none !important;
          }
        }
      }


      .ui-common-table {
        width: 100% !important;
      }

      .ui-jqgrid .ui-jqgrid-hbox {
        padding-right: 0px !important;
      }
      td.ui-state-default ui-th-column ui-th-ltr {
        width: 0px !important;
      }
      td#prev_jqGridPager2 {
        position: relative;
        top: 5px;
        width: 20px !important;
        height: 20px !important;
        background: url(../img/prev.png) no-repeat !important;
      }
      td#next_jqGridPager2 {
        position: relative;
        top: 5px;
        width: 20px !important;
        height: 20px !important;
        background: url(../img/next.png) no-repeat !important;
      }
      td#first_jqGridPager2 {
        position: relative;
        top: 5px;
        width: 20px !important;
        height: 20px !important;
        background: url(../img/pprev.png) no-repeat !important;
      }
      td#last_jqGridPager2 {
        position: relative;
        top: 5px;
        width: 20px !important;
        height: 20px !important;
        background: url(../img/nnext.png) no-repeat !important;
      }

      td.ui-pg-button {
        span {
          display: none;
        }
      }
      button {
        color: #3c3c3c;
      }
      .btn_sc {
        color: #3c3c3c;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #f2f2f2;
        border: 1px solid #e4e4e4;
        text-align: center;
      }
    }
      button {
        color: #3c3c3c;
      }
      .btn_sc {
        color: #3c3c3c;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #f2f2f2;
        border: 1px solid #e4e4e4;
        text-align: center;
      }
    }

   .top_close {
     position: absolute;
     top: 20px;
     right: 20px;
     width: 25px;
     height: 25px;
     background: url(../img/close.png) no-repeat;
     -webkit-background-size: 100%;
     background-size: 100%;
   }
   .popup_title {
     font-size: 18px;
     color: #fff;
     padding: 10px;
     text-align: left;
     background: #3c3c3c;
     letter-spacing: -1px;
   }
   .clause_text {
     padding: 20px 10px;
     font-size: 14px;
     line-height: 18px;
     height: 470px;
     overflow-y: scroll;

     .tb {
       font-weight: bold;
     }
   }
   .btn_close {
     width: 150px;
     margin: 0 auto;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 10px;
     color: #fff;
     font-weight: 600;
     font-size: 16px;
     text-align: center;
     background: #3c3c3c;
   }
}
.popup_content2 {
  display: none;
  position: absolute;
  z-index: 1002;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px;
  table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      .red {
        color: #da0000;
        position: relative;
        top: 2px;
      }
      button{
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border:1px solid #e4e4e4;
        text-align: center;
      }
    }
    td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4;
      }
      input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4;
      }
      input.w100{
        width:100%;
      }
      textarea{
        width: 100%;
        padding:10px;
        line-height:30px;
        color: #666;
        border: 1px solid #e4e4e4;
      }
      .red {
        color: #da0000;
        line-height: 25px;
      }
      p{
        margin: 0;
        padding-top:5px;
      }
      a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
      .tdtext{
        display: inline-block;
        padding-top:10px;
        font-size:14px;
        line-height:18px;
      }

    }
  }
  table.half_table {
    td {
      padding: 8px;
      text-align: left !important;
      table.point_table{
        width:auto;
        margin-top:0px;
        border:0px;
        td{
          border:0px;
          text-align: center !important;
        }
      }

    }
  }
  .top_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px;
  }
  .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll;

    .tb {
      font-weight: bold;
    }
  }
  .btn_close {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c;
  }
}
.popup_content3 {
  display: none;
  position: absolute;
  z-index: 1002;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px;
  table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      .red {
        color: #da0000;
        position: relative;
        top: 2px;
      }
      button{
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border:1px solid #e4e4e4;
        text-align: center;
      }
    }
    td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4;
      }
      input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4;
      }
      input.w100{
        width:100%;
      }
      textarea{
        width: 100%;
        padding:10px;
        line-height:30px;
        color: #666;
        border: 1px solid #e4e4e4;
      }
      .red {
        color: #da0000;
        line-height: 25px;
      }
      p{
        margin: 0;
        padding-top:5px;
      }
      a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
      .tdtext{
        display: inline-block;
        padding-top:10px;
        font-size:14px;
        line-height:18px;
      }

    }
  }
  table.half_table {
    td {
      padding: 8px;
      text-align: left !important;
      table.point_table{
        width:auto;
        margin-top:0px;
        border:0px;
        td{
          border:0px;
          text-align: center !important;
        }
      }

    }
  }
  .top_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px;
  }
  .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll;

    .tb {
      font-weight: bold;
    }
  }
  .btn_close {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c;
  }
}
.popup_content4 {
  display: none;
  position: absolute;
  z-index: 1002;
  background-color: #fefefe;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 1200px;
  table {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    th {
      padding: 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      .red {
        color: #da0000;
        position: relative;
        top: 2px;
      }
      button{
        color: #999;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
        background: #fff;
        border:1px solid #e4e4e4;
        text-align: center;
      }
    }
    td {
      padding: 5px;
      color: #999;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      select {
        color: #000;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: -1px;
        border: 0px;
        background: #fff;
        border: 1px solid #e4e4e4;
      }
      input {
        color: #666;
        line-height: 30px;
        font-size: 16px;
        border: 0px;
        border: 1px solid #e4e4e4;
      }
      input.w100{
        width:100%;
      }
      textarea{
        width: 100%;
        padding:10px;
        line-height:30px;
        color: #666;
        border: 1px solid #e4e4e4;
      }
      .red {
        color: #da0000;
        line-height: 25px;
      }
      p{
        margin: 0;
        padding-top:5px;
      }
      a.btn_cal {
        display: inline-block;
        margin-bottom: -7px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        padding: 5px;
        background: url(../img/cal.png) no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
      .tdtext{
        display: inline-block;
        padding-top:10px;
        font-size:14px;
        line-height:18px;
      }

    }
  }
  table.half_table {
    td {
      padding: 8px;
      text-align: left !important;
      table.point_table{
        width:auto;
        margin-top:0px;
        border:0px;
        td{
          border:0px;
          text-align: center !important;
        }
      }

    }
  }
  .top_close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .popup_title {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: left;
    background: #3c3c3c;
    letter-spacing: -1px;
  }
  .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 470px;
    overflow-y: scroll;

    .tb {
      font-weight: bold;
    }
  }
  .btn_close {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background: #3c3c3c;
  }
}
.btnalign{
  text-align: center;
  overflow: hidden;
  margin-top:20px;
  ul{
    display: inline-block;
    li{
      float: left;
      padding:0 4px;
      .btn_cancel {
        width: 150px;
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        background: #3c3c3c;
      }
      .btn_cancel2 {
        width: 150px;
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        background: #3c3c3c;
      }
      .btn_save {
        width: 150px;
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        background: #3c3c3c;
      }
    }
  }
}
.login{
  width:700px;
  height:600px;
  padding:50px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left:-350px;
  margin-top:-300px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  .kt_logo{
    padding-bottom:30px;
  }
  ul{
    li{
      width: 100%;
      margin-bottom:20px;
      font-size:20px;
      letter-spacing:-1px;
      font-weight:400;
      text-align: center;
      input{
        background: #f2f2f2;
        width:70%;
        height:50px;
        font-size:18px;
        text-align: center;
        letter-spacing:-1px;
        font-size:16px;
      }
      button{
        background: #37393a;
        width:70%;
        padding:14px 0;
        font-size:18px;
        color: #fff;
        border:0px;
        text-align: center;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;

      }
    }
    li.capcha{
      width:70%;
      margin: 0 auto;
      height: 130px;
      background: #fff;
      margin-bottom:20px;
    }
  }
}
.login:before, .login:after{
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
}
.p_error {
  width: 700px;
  height: 600px;
  padding: 50px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -300px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  .p_error_img{
    padding: 10px 0;
    width: 350px;
    margin:0 auto;
  }
  .p_error_script{
    width: 100%;
    font-size:18px;
    letter-spacing:-1px;
    font-weight:400;
    text-align: center;
    padding:30px 60px;
  }
  button{
    background: #37393a;
    padding:10px 30px;
    font-size:18px;
    color: #fff;
    border:0px;
    text-align: center;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
  }

}

/* Main Componenet */
  section#dash_board {
    width: 100%;
    position: relative;
    top: 80px;
    left: 0;
    top: 80px;
    .side_menu {
      width: 250px;
      height: 100%;
      position: fixed;
      overflow-y: scroll;
      background: #343b4a;
      float: left;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      nav {
        ul {
          li {
            font-size: 14px;
            color: #9097a7;
            background: #343b4a;
            padding: 12px 20px;
            letter-spacing: -1px;
            i {
              font-size: 14px;
              color: #9097a7;
              margin-right: 3px;
              border: 0;
            }
            &:hover {
              color: #fff;
              background: #3f4759;
              border-left: 3px solid #fff;
              cursor: hand;
              i {
                color: #fff;
              }
            }
          }
          li.deps1 {
            padding: 20px 20px;
            font-size: 14px;
            color: #8facd0;
            font-weight: bold;
            letter-spacing: -1px;
            &:hover {
              color: #829cbd;
              background: none;
              border-left: none;
              i {
                color: #829cbd;
              }
            }
          }
          .deps2 {
            .deps_arrow {
              position: relative;
              float: right;
              top: -2px;
              right: 5px;
              width: 20px;
              height: 20px;
              img {
                width: 100%;
              }
            }
            .menu_name {
              display: inline;
            }
            a {
              font-size: 14px;
              color: #9097a7;
            }
          }
          .deps3 {
            display: none;
            background: #292e3a;
            cursor: hand;
            a {
              display: block;
              padding: 10px 0;
              text-indent: 22px;
              font-size: 14px;
              color: #fff;
              -webkit-transition: all 0.4s;
              -moz-transition: all 0.4s;
              -ms-transition: all 0.4s;
              -o-transition: all 0.4s;
              transition: all 0.4s;
              text-decoration: none;
              &:hover {
                background: #316fe2;
              }
            }
          }
        }
      }
    }
    .contents {
      width: calc(100% - #{$side_menu});
      height: 100%;
      position: fixed;
      background: #f2f2f2;
      color: #fff;
      left: 250px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      .page_title {
        width: 100%;
        height: 50px;
        padding: 0 30px;
        background: #fff;
        border-top: 1px solid #e4e4e4;
        .page_name {
          float: left;
          line-height: 50px;
          color: #6c757d;
          font-size: 18px;
          letter-spacing: -1px;
          font-weight: bold;
        }
        .page_location {
          float: right;
          line-height: 50px;
          color: #ccc;
          font-size: 12px;
          letter-spacing: -1px;
          font-weight: bold;
          i {
            color: #ccc;
          }
        }
      }
      .subject {
        padding: 30px;
        .page_search {
          padding:20px;
          background: #fff;
          border: 1px solid #e4e4e4;
          table.search_tb{
            width:100%;
            tr{
              td.search_item{
                ul{
                  margin-bottom:0px;
                  li {
                    float: left;
                    color: #000;
                    font-size: 14px;
                    letter-spacing: -1px;
                    margin:5px 8px;
                    line-height:33px;
                    select {
                      color: #000;
                      font-size: 14px;
                      padding: 4px 0 9px 0px;
                      letter-spacing: -1px;
                      border: 0px;
                      background: #fff;
                      border: 1px solid #e4e4e4;
                      margin-left:8px;
                    }
                    input {
                      width: 110px;
                      height: 32px;
                      color: #666;
                      line-height: 30px;
                      font-size:12px;
                      border: 0px;
                      border: 1px solid #e4e4e4;
                      margin-left:8px;
                    }
                    a.btn_cal {
                      display: inline-block;
                      margin-bottom: -7px;
                      margin-left: 3px;
                      width: 25px;
                      height: 25px;
                      padding: 5px;
                      background: url(../img/cal.png) no-repeat;
                      -webkit-background-size: 100%;
                      background-size: 100%;
                    }
                  }
                  li.sname{
                    line-height:33px;
                  }
                }
              }
              td.btn_search{
                width: 100px;
                position: relative;
                button {
                  width: 100%;
                  border:1px solid red;
                  position: absolute;
                  left: 0;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  color: #fff;
                  font-size: 15px;
                  font-weight: 400;
                  letter-spacing: -1px;
                  border: none;
                  background: #3c3c3c;
                  text-align: center;
                }
              }
            }
          }

        }
        .page_contents {
          margin-top: 20px;
          padding: 20px;
          background: #fff;
          border: 1px solid #e4e4e4;
          ul {
            li {
              width: 48%;
              padding: 0px;
              border: 1px soldi red;
              overflow: auto;
              .tt_line {
                font-size: 16px;
                width: 100%;
                text-align: left;
                color: #3c3c3c;
                font-weight: bold;
                line-height: 30px;
                button {
                  float: right;
                  color: #fff;
                  padding: 0 10px;
                  height: 30px;
                  line-height: 30px;
                  font-size: 15px;
                  font-weight: 400;
                  letter-spacing: -1px;
                  background: #3c3c3c;
                  border: none;
                }
              }
              .con_table {
                height: 600px;
                padding-top: 20px;
              }
            }
          }
          li:first-child {
            float: left;
          }
          li:last-child {
            float: right;
          }
          .authmanage_box {
            width: 800px;
            margin: 0 auto;
            .tt_line {
              text-align: center;
            }
            ul {
              li.contents_list {
                float: left;
                padding: 0 10px;
                .group_list {
                  margin-top: 20px;
                  height: 600px;
                  border-top: 1px solid #e4e4e4;
                  letter-spacing: -1px;
                  font-size: 14px;
                  color: #3c3c3c;
                  ul {
                    li.groupitem {
                      width: 100%;
                      border-bottom: 1px solid #e4e4e4;
                      border-right: 1px solid #e4e4e4;
                      border-left: 1px solid #e4e4e4;
                      a {
                        display: block;
                        width: 100%;
                        padding: 8px 20px;
                        line-height: 30px;
                        text-decoration: none;
                        color: #3c3c3c;
                        &:hover {
                          background: #edf6ff;
                        }
                      }
                    }
                    li.groupitem_on{
                      width: 100%;
                      border-bottom: 1px solid #e4e4e4;
                      border-right: 1px solid #e4e4e4;
                      border-left: 1px solid #e4e4e4;
                      a {
                        display: block;
                        width: 100%;
                        padding: 8px 20px;
                        line-height: 30px;
                        text-decoration: none;
                        color: #3c3c3c;
                        background: #edf6ff;
                      }
                    }
                    li:first-child {
                      width: 100%;
                      padding: 8px 20px;
                      line-height: 30px;
                      background: #f2f2f2;
                      text-align: center;
                      font-weight: bold;
                      &:hover {
                        background: #f2f2f2;
                      }
                    }

                  }
                }
                .menu_list {
                  margin-top: 20px;
                  height: 600px;
                  border-top: 1px solid #e4e4e4;
                  letter-spacing: -1px;
                  font-size: 14px;
                  color: #3c3c3c;
                  ul {
                    li.menuitem {
                      position: relative;
                      z-index: 999;
                      width: 100%;
                      text-indent: 20px;
                      border-bottom: 1px solid #e4e4e4;
                      border-right: 1px solid #e4e4e4;
                      border-left: 1px solid #e4e4e4;
                      .menu_checkbox {
                        position: absolute;
                        top: 12px;
                        left: 0px;
                        z-index: 1000;
                        input {
                          width: 15px;
                          height: 15px;
                          background: #fff;
                          border: 1px solid #e4e4e4;
                        }
                      }
                      .deps_arrow {
                        position: absolute;
                        text-indent: 0px;
                        top: 10px;
                        right: 15px;
                        width: 20px;
                        height: 20px;
                        img {
                          width: 100%;
                        }
                      }
                      width: 100%;
                      padding: 8px 20px;
                      line-height: 30px;
                      text-decoration: none !important;
                      color: #3c3c3c !important;
                      &:hover {
                        background: #edf6ff;
                      }
                      a {
                        display: block;
                        text-decoration: none;
                        color: #3c3c3c;
                      }
                    }

                    li:first-child {
                      width: 100%;
                      padding: 8px 20px;
                      line-height: 30px;
                      background: #f2f2f2;
                      text-align: center;
                      font-weight: bold;
                      .menu_checkbox {
                        position: absolute;
                        top: 12px;
                        left: 20px;
                        input {
                          width: 15px;
                          height: 15px;
                          background: #fff;
                          border: 1px solid #e4e4e4;
                        }
                      }
                      &:hover {
                        background: #f2f2f2;
                      }
                    }

                    .deps3 {
                      display: none;
                      width: 100%;
                      border-bottom: 1px solid #e4e4e4;
                      border-right: 1px solid #e4e4e4;
                      border-left: 1px solid #e4e4e4;
                      margin: 0px;
                      a {
                        position: relative;
                        display: block;
                        width: 100%;
                        padding: 8px 20px 8px 60px;
                        line-height: 20px;
                        font-size: 14px;
                        text-decoration: none;
                        color: #3c3c3c;
                        background: #f2f2f2;
                        &:hover {
                          background: #ccc;
                          color: #fff;
                        }
                        .menu_checkbox {
                          position: absolute;
                          top: 8px;
                          left: 40px;
                          input {
                            width: 15px;
                            height: 15px;
                            background: #fff;
                            border: 1px solid #e4e4e4;
                          }
                        }
                      }
                    }
                    .deps1 {
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
          .menuinfview_box {
            .contents_left {
              width: 30%;
              .menu_list {
                margin-top: 20px;
                height: 600px;
                border-top: 1px solid #e4e4e4;
                letter-spacing: -1px;
                font-size: 14px;
                color: #3c3c3c;
                ul {
                  li.menuitem {
                    position: relative;
                    z-index: 999;
                    width: 100%;
                    text-indent: 0px;
                    border-bottom: 1px solid #e4e4e4;
                    border-right: 1px solid #e4e4e4;
                    border-left: 1px solid #e4e4e4;
                    .menu_checkbox {
                      position: absolute;
                      top: 12px;
                      left: 0px;
                      z-index: 1000;
                      input {
                        width: 15px;
                        height: 15px;
                        background: #fff;
                        border: 1px solid #e4e4e4;
                      }
                    }
                    button{
                      position: absolute;
                      right:5px;
                      top: 5px;
                      color: #999;
                      padding: 2px 10px;
                      font-size: 14px;
                      font-weight: 400;
                      letter-spacing: -1px;
                      background: #f2f2f2;
                      border: 1px solid #e4e4e4;
                      text-align: center;
                    }
                    .deps_arrow {
                      position: absolute;
                      text-indent: 0px;
                      top: 10px;
                      right: 60px;
                      width: 20px;
                      height: 20px;
                      img {
                        width: 100%;
                      }
                    }
                    width: 100%;
                    padding: 8px 20px;
                    line-height: 30px;
                    text-decoration: none !important;
                    color: #3c3c3c !important;
                    &:hover {
                      background: #edf6ff;
                    }
                    a {
                      display: block;
                      text-decoration: none;
                      color: #3c3c3c;
                    }
                  }
                  li:first-child {
                    width: 100%;
                    padding: 8px 20px;
                    line-height: 30px;
                    background: #f2f2f2;
                    text-align: center;
                    font-weight: bold;
                    .menu_checkbox {
                      position: absolute;
                      top: 12px;
                      left: 20px;
                      input {
                        width: 15px;
                        height: 15px;
                        background: #fff;
                        border: 1px solid #e4e4e4;
                      }
                    }
                    &:hover {
                      background: #f2f2f2;
                    }
                  }
                  .deps3 {
                    display: none;
                    width: 100%;
                    border-bottom: 1px solid #e4e4e4;
                    border-right: 1px solid #e4e4e4;
                    border-left: 1px solid #e4e4e4;
                    margin: 0px;
                    button{
                      position: absolute;
                      right:5px;
                      top: 5px;
                      color: #999;
                      padding: 2px 10px;
                      font-size: 14px;
                      font-weight: 400;
                      letter-spacing: -1px;
                      background: #fff;
                      border: 1px solid #e4e4e4;
                      text-align: center;
                    }
                    a {
                      position: relative;
                      display: block;
                      width: 100%;
                      padding: 8px 20px 8px 30px;
                      line-height: 20px;
                      font-size: 14px;
                      text-decoration: none;
                      color: #3c3c3c;
                      background: #f2f2f2;
                      &:hover {
                        background: #ccc;
                        color: #fff;
                      }
                      .menu_checkbox {
                        position: absolute;
                        top: 8px;
                        left: 40px;
                        input {
                          width: 15px;
                          height: 15px;
                          background: #fff;
                          border: 1px solid #e4e4e4;
                        }
                      }
                    }
                  }
                  .deps1 {
                    font-weight: bold;
                  }
                }
              }
            }
            .contents_right {
              width: 68%;
            }
          }
          .sysrefview {
            width: 500px;
            height: 550px;
            margin: 0 auto;
            margin-top: 120px;
            table {
              width: 100%;
              margin-top: 20px;
              border-top: 1px solid #e4e4e4;
              border-left: 1px solid #e4e4e4;
              th {
                padding: 5px;
                height: 30px;
                color: #3c3c3c;
                font-weight: 600;
                background: #f2f2f2;
                text-align: center;
                vertical-align: middle;
                line-height: 25px;
                letter-spacing: -1px;
                font-size: 14px;
                border-right: 1px solid #e4e4e4;
                border-bottom: 1px solid #e4e4e4;
              }
              td {
                padding: 5px;
                height: 30px;
                color: #999;
                text-align: center;
                vertical-align: middle;
                line-height: 25px;
                font-size: 14px;
                border-right: 1px solid #e4e4e4;
                border-bottom: 1px solid #e4e4e4;
                button {
                  color: #999;
                  padding: 0 12px !important;
                  font-size: 14px;
                  font-weight: 400;
                  letter-spacing: -1px;
                  background: #f2f2f2;
                  border: 1px solid #e4e4e4;
                  text-align: center;
                }
              }
            }
          }
          table.cord_table {
            width: 100%;
            border-top: 1px solid #e4e4e4;
            border-left: 1px solid #e4e4e4;
            th {
              padding: 5px;
              color: #3c3c3c;
              font-weight: 600;
              background: #f2f2f2;
              text-align: center;
              vertical-align: middle;
              line-height: 20px;
              letter-spacing: -1px;
              font-size: 14px;
              border-right: 1px solid #e4e4e4;
              border-bottom: 1px solid #e4e4e4;
              .red {
                color: #da0000;
                position: relative;
                top: 2px;
              }
            }
            td {
              padding: 5px;
              color: #999;
              text-align: center;
              vertical-align: middle;
              line-height: 20px;
              font-size: 14px;
              border-right: 1px solid #e4e4e4;
              border-bottom: 1px solid #e4e4e4;
              select {
                color: #000;
                font-size: 14px;
                padding: 8px 0;
                letter-spacing: -1px;
                border: 0px;
                background: #fff;
                border: 1px solid #e4e4e4;
              }
              input[type=text] {
                color: #666;
                line-height: 30px;
                font-size: 16px;
                border: 0px;
                border: 1px solid #e4e4e4;
              }
              input[type=button] {
                color: #999;
                padding: 2px 10px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -1px;
                background: #f2f2f2;
                border: 1px solid #e4e4e4;
                text-align: center;
              }
              button {
                color: #999;
                padding: 2px 10px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -1px;
                background: #f2f2f2;
                border: 1px solid #e4e4e4;
                text-align: center;
              }
              .red {
                color: #da0000;
                line-height: 25px;
              }
            }
            td.al_lift {
              text-align: left !important;
            }
          }
          tr:hover {
            background: #edf6ff;
          }
          .btn_excel {
            width: 100%;
            text-align: right;
            margin-bottom: 20px;
            button {
              color: #fff;
              padding: 5px 14px;
              font-size: 15px;
              font-weight: 400;
              letter-spacing: -1px;
              background: #3c3c3c;
              border: none;
              text-align: center;
            }
          }
           #content {
             padding: 0 !important;
             margin: 0 !important;
           #gbox_jqGrid {
              width: 100% !important;
              padding: 0 !important;
              margin: 0 !important;
            }
           table {
              th {
                padding: 5px 0px;
                color: #3c3c3c;
                font-weight: 600;
                background: #f2f2f2;
                text-align: center;
                vertical-align: middle;
                line-height: 20px;
                letter-spacing: -1px;
                font-size: 14px;
                border-right: 1px solid #e4e4e4;
                border-bottom: 1px solid #e4e4e4;
              }
              td {
                padding: 5px 0px;
                color: #999;
                text-align: center;
                vertical-align: middle;
                line-height: 20px;
                font-size: 14px;
                border-right: 1px solid #e4e4e4;
                border-bottom: 1px solid #e4e4e4;
              }

              td#jqGridPager_center {
                border-top: 1px solid #e4e4e4;
                border-right: none;
                width: 200px !important;
                tr {
                  td {
                    border: none !important;
                  }
                }
              }
              td#jqGridPager_left {
                border-top: 1px solid #e4e4e4;
                border-right: none;
                tr {
                  td {
                    border: none !important;
                  }
                }
              }
              td#jqGridPager_right {
                border-top: 1px solid #e4e4e4;
                tr {
                  td {
                    border: none !important;
                  }
                }
              }

              .jqgfirstrow td {
                height: 0px !important;
                padding: 0 !important;
                border-bottom: 0px;
              }
              .ui-common-table {
                width: 100% !important;
              }

              .ui-jqgrid .ui-jqgrid-hbox {
                padding-right: 0px !important;
              }
              td.ui-state-default ui-th-column ui-th-ltr {
                width: 0px !important;
              }
              td#prev_jqGridPager {
                position: relative;
                top: 5px;
                width: 20px !important;
                height: 20px !important;
                background: url(../img/prev.png) no-repeat !important;
              }
              td#next_jqGridPager {
                position: relative;
                top: 5px;
                width: 20px !important;
                height: 20px !important;
                background: url(../img/next.png) no-repeat !important;
              }
              td#first_jqGridPager {
                position: relative;
                top: 5px;
                width: 20px !important;
                height: 20px !important;
                background: url(../img/pprev.png) no-repeat !important;
              }
              td#last_jqGridPager {
                position: relative;
                top: 5px;
                width: 20px !important;
                height: 20px !important;
                background: url(../img/nnext.png) no-repeat !important;
              }

              td.ui-pg-button {
                span {
                  display: none;
                }
              }
              button {
                color: #3c3c3c;
              }
              .btn_sc {
                color: #3c3c3c;
                padding: 2px 10px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -1px;
                background: #f2f2f2;
                border: 1px solid #e4e4e4;
                text-align: center;
              }
            }
          }
          clear: both;

        }
        .page_number {
          margin-top: 20px;
          padding: 20px;
          background: #fff;
          border: 1px solid #e4e4e4;
          text-align: center;
          ul {
            display: inline-block;
            li {
              float: left;
              padding: 5px;
              margin: 5px;
              color: #3c3c3c;
              font-size: 14px;
              i {
                font-size: 14px;
                color: #3c3c3c;
              }
              .pn_on {
                color: #000;
              }
            }
          }
        }
      }
    }
  }

  section#dash_board.active {
      .side_menu {
        margin-left: -250px;
      }
      .contents {
        margin-left: -250px;
        width: 100%;
      }
    }
